@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url(./constants/_globals.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

.header-gradient {
  background-image: linear-gradient(90deg, #47fdc3 0, #27c9bb 40%, #015eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  text-fill-color: transparent;
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.navbar .nav-item .nav-link {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.navbar .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background: #EC4D37;
  transition: 0.3s;
  bottom: 0;
}

.navbar .nav-item .nav-link:hover::after {
  width: 100%;
}

.button1::after {
  content: "";
  left: 5px;
  width: 25%;
  position: absolute;
  height: 2px;
  background: #EC4D37;
  transition: all 200ms ease-in-out;
  bottom: 0;
}

.button1:hover::after {
  width: 78%;
}

.button1 > i {
  transition: all 200ms ease-in;
}

.button1:hover > i {
  transform: translateX(5px);
}

.contact-area .contact-form input,
.contact-area .contact-form input,
.contact-area .contact-form textarea {
  padding: 1rem 1rem;
  border-radius: 5px;
  /* border: none !important;   */
  background-color: transparent;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(182, 179, 179);
  width: 100%;
}

.contact-area .contact-form .btn-contact {
  float: left;
  position: relative;
  font-weight: 500;
  width: 100%;
  height: 50px;
  border: 1px solid #08fdd8;
  font-size: 14px;
  display: block;
  z-index: 3;
  background: transparent;
  color: #08fdd8;
  transition: 0.3s ease-out all;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
  overflow: hidden;
}

.contact-area .contact-form .btn-contact::before {
  position: absolute;
  content: "";
  width: 0;
  z-index: -1;
  top: 0;
  left: -5%;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
  height: 100%;
  background-color: #08fdd8;
}

.contact-area .contact-form .btn-contact::after {
  position: absolute;
  content: "";
  width: 0%;
  z-index: -1;
  top: 0;
  left: 110%;
  transition: 0.3s ease-out all;
  transform: skewX(10deg);
  height: 100%;
  background-color: #08fdd8;
}

.contact-area .contact-form .btn-contact:hover::before {
  width: 110%;
}

.contact-area .contact-form .btn-contact:hover::after {
  width: 110%;
  left: -5%;
}

.contact-area .contact-form .btn-contact:hover {
  color: #000;
}

.contact-area .contact-form .pos-rel {
  position: relative;
  padding-bottom: 1.3rem;
}

.input-field-line {
  border: 0;
  border-bottom: 2px solid #08fdd8;
  outline: none;
  transition: all 0.3s ease;
}

.input-label-line {
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 16px;
  font-family: "Poppins",
    sans-serif;
  pointer-events: none;
  font-weight: 400;
  color: rgb(182, 179, 179);
  transition: all 0.3s ease;
}

.input-field-line+.input-label-line {
  transition: all 0.2s ease;
  opacity: 0;
}

.input-field-line:focus+.input-label-line,
.input-field-line:valid+.input-label-line {
  top: -12px;
  left: 0;
  font-size: 14px;
  padding: 0 20px;
  opacity: 1;
  background-color: transparent;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
  position: relative;
}

@media (max-width: 1200px) {
  .leaflet-container {
    height: 50vh;
  }
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}